.view-container {
  list-style: none;
  -ms-box-orient: horizontal;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.Button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 7px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.Switch {
  margin: 4px 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Switch_Toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-right: 5px;
}

.Switch_Toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .Slider {
  background-color: #2196f3;
}

input:focus + .Slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.view-container button {
  border-radius: 16px;
  background-color: #f5f5f5;
  color: #4a5568;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.project-details-chart .ticks line:not(:first-child) {
  stroke: none;
}

.taskListTableRow {
  background-color: inherit;
}

/*
  Below is the gantt chart css for headers/labels on the left area
*/

/* Header, item list text css */
.project-details-chart .css-0 {
  font-weight: 400;
  color: #4a5568;
}
/* Row color */
.project-details-chart ._2dZTy:nth-child(even) {
  fill: #f7fafc;
}
/* Border css */
.project-details-chart ._2B2zv > .taskListWrapper {
  border-left: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
}

/*
  Below is the gantt chart css override for graphical section
*/

/* today column css */
.project-details-chart .today {
  display: none;
}

/* Row color */
.project-details-chart ._34SS0:nth-of-type(even) {
  background-color: #f7fafc;
}

/* Border css */
.project-details-chart ._2B2zv > svg {
  border-right: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
}

/* Fills for progress bars */
.project-details-chart .bar > g text {
  fill: #5b5757;
}
.project-details-chart .bar > g ._KxSXS > g > rect:nth-child(1) {
  fill: #e2e8f0;
}
.project-details-chart .bar > g:nth-of-type(4n + 1) ._KxSXS > g > rect:nth-child(2) {
  fill: #949ac2;
}
.project-details-chart .bar > g:nth-of-type(4n + 2) ._KxSXS > g > rect:nth-child(2) {
  fill: #fb8832;
}
.project-details-chart .bar > g:nth-of-type(4n + 3) ._KxSXS > g > rect:nth-child(2) {
  fill: #f7685b;
}
.project-details-chart .bar > g:nth-of-type(4n + 4) ._KxSXS > g > rect:nth-child(2) {
  fill: #68b8ef;
}
