.react-kanban-column {
  background-color: #f8f8f8 !important;
  border: 1px solid #e8e8e8 !important;
  min-height: 100px !important;
  max-height: 450px !important;
  overflow-y: auto !important;
  overflow-x: hidden;
  margin: 35px !important;
  border-radius: 7px !important;
  padding: 20px !important;
}
.react-kanban-column::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.react-kanban-column::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.react-kanban-column::-webkit-scrollbar-thumb {
  background-color: #c2c7cd;
  border-radius: 1px;
  border: 2px solid #f1f1f1;
}

/* .react-kanban-board-column-header {
  position: sticky;
  top: 0;
  padding: 0px !important;
} */

.kanban-custom-css {
  position: sticky;
  top: 0;
}
