.react-kanban-column {
  background-color: #f8f8f8 !important;
  border: 1px solid #e8e8e8 !important;
  margin: 17px !important;
  border-radius: 7px !important;
  padding: 20px !important;
  width: 450px !important;
}
.react-kanban-column {
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background-color: #c2c7cd;
 border-radius: 1px;
 border: 2px solid #f1f1f1;

  }

}

[data-rbd-droppable-id='2'] {
  height: 400px !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px !important;
}
[data-rbd-droppable-id='1'] {
  height: 400px !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px !important;
}

.react-kanban-board {
  padding: 0px !important
}